.container {
  padding: 12px;
  display: flex;
  margin: 6px 0;
  flex-direction: column;
}

.generate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.generate-button {
  margin-right: 12px;
}
