<mat-card class="container">
  <b>Generálás</b>
  <div class="generate">
    <mat-checkbox [(ngModel)]="automate" color="primary" class="generate-button">Automatikus generálás</mat-checkbox>
    <button class="generate-button" mat-raised-button color="primary" (click)="generate()"
            [disabled]="stateI  !== 0
            || stateC !== 0 ">Generálás
    </button>
    <button mat-raised-button color="primary" (click)="download()" [disabled]="imageSources.length === 0">Letöltés</button>
  </div>
</mat-card>
