<mat-card class="container">
  <b>Pakli konfigurálása</b>
  <div class="configs">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Szimbólumok száma</mat-label>
      <input type="number" matInput placeholder="Szám" [(ngModel)]="symbols" (keyup)="checkInputs('symbols')">
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Kártyák száma</mat-label>
      <input type="number" matInput placeholder="Szám" [(ngModel)]="cards" (keyup)="checkInputs('cards')">
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Egy kártyán lévő szimbólumok száma</mat-label>
      <input type="number" matInput placeholder="Szám" [(ngModel)]="oneCardSymbols"
             (keyup)="checkInputs('card-symbols')">
    </mat-form-field>
  </div>
  <b>Kártya konfigurálása</b>
  <div class="configs">
    <div class="inner-container">
      <mat-label>Kártya méretének állítása</mat-label>
      <div class="slider-container">
        <mat-slider
          [max]="size.max"
          [min]="size.min"
          [step]="size.step"
          [thumbLabel]="true"
          [(ngModel)]="size.value"
          (change)="checkState()"
          class="slider">
        </mat-slider>
        <input type="number" class="input-slider" [(ngModel)]="size.value">
        <div class="input-unit">px</div>
      </div>
      <div class="container-picker">
        Kártya háttérszíne:
        <mcc-color-picker class="picker" selectedColor="{{backgroundColor}}"
                          (selected)="colorSelect($event,'background')"></mcc-color-picker>
      </div>
    </div>
    <div class="inner-container">
      <mat-label>Szegély vastagsága</mat-label>
      <div class="slider-container">
        <mat-slider
          [max]="border.max"
          [min]="border.min"
          [step]="border.step"
          [thumbLabel]="true"
          [(ngModel)]="border.value"
          (change)="checkState()"
          class="slider"
        >
        </mat-slider>
        <input type="number" class="input-slider"
               [max]="border.max"
               [min]="border.min"
               [step]="border.step"
               [(ngModel)]="border.value">
        <div class="input-unit">px</div>
      </div>
      <div class="container-picker">
        Szegély színe:
        <mcc-color-picker class="picker" selectedColor="{{borderColor}}"
                          (selected)="colorSelect($event,'border')"></mcc-color-picker>
      </div>
    </div>
  </div>
  <b>Szimbólumok konfigurálása</b>
  <div class="configs">
    <div class="inner-container">
      <mat-label>Skálázás minimuma</mat-label>
      <div class="slider-container">
        <mat-slider
          [max]="scalemin.max"
          [min]="scalemin.min"
          [step]="scalemin.step"
          [thumbLabel]="true"
          [(ngModel)]="scalemin.value"
          (change)="checkState()"
          class="slider"
        >
        </mat-slider>
        <input type="number" class="input-slider"
               [max]="scalemin.max"
               [min]="scalemin.min"
               [step]="scalemin.step"
               [(ngModel)]="scalemin.value">
        <div class="input-unit">x</div>
      </div>
    </div>
    <div class="inner-container">
      <mat-label>Skálázás maximuma</mat-label>
      <div class="slider-container">
        <mat-slider
          [max]="scalemax.max"
          [min]="scalemax.min"
          [step]="scalemax.step"
          [thumbLabel]="true"
          [(ngModel)]="scalemax.value"
          (change)="checkState()"
          class="slider"
        >
        </mat-slider>
        <input type="number" class="input-slider"
               [max]="scalemax.max"
               [min]="scalemax.min"
               [step]="scalemax.step"
               [(ngModel)]="scalemax.value">
        <div class="input-unit">x</div>
      </div>
    </div>
    <div class="inner-container">
      <mat-label>Középpontól való távólság</mat-label>
      <div class="slider-container">
        <mat-slider
          [max]="distance.max"
          [min]="distance.min"
          [step]="distance.step"
          [thumbLabel]="true"
          [(ngModel)]="distance.value"
          (change)="checkState()"
          class="slider"
        >
        </mat-slider>
        <input type="number" class="input-slider"
               [max]="distance.max"
               [min]="distance.min"
               [step]="distance.step"
               [(ngModel)]="distance.value">
        <div class="input-unit">px</div>
      </div>
    </div>
    <div class="inner-container">
      <mat-label>Szimbólumok normalizált mérete</mat-label>
      <div class="slider-container">
        <mat-slider
          [max]="transformsize.max"
          [min]="transformsize.min"
          [step]="transformsize.step"
          [thumbLabel]="true"
          [(ngModel)]="transformsize.value"
          (change)="checkState()"
          class="slider"
        >
        </mat-slider>
        <input type="number" class="input-slider"
               [max]="transformsize.max"
               [min]="transformsize.min"
               [step]="transformsize.step"
               [(ngModel)]="transformsize.value">
        <div class="input-unit">px</div>
      </div>
    </div>
  </div>

  <div class="indicator">
    <span class="mdi mdi-alert" style="color: orange;" *ngIf="state === 1"></span>
    <span class="mdi mdi-alert-circle" style="color: red" *ngIf="state === 2"></span>
    <span class="mdi mdi-check" style="color: green" *ngIf="state === 0"></span>
  </div>
</mat-card>
