.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.configs-deck {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  margin-top: 12px;
  margin-bottom: 12px;

  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}

.configs {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  margin-top: 12px;
  margin-bottom: 12px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  width: 32%;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

.indicator {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #3748AC;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #3748AC;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #3748AC;
}

.container-picker {
  max-width: 26rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.picker {
  margin-left: 12px;
}

.inner-container {
  font-size: 14px;
  width: 50%;
  display: flex;
  flex-direction: column;

  .slider-container {
    display: flex;
    flex-wrap: wrap;

    .slider {
      width: 100px;
      min-width: 0;
    }

    .input-slider {
      font-size: 16px;
      width: 30%;
      text-align: center;
      padding: 0;
      border: 0;
    }

    .input-unit {
      width: 5%;
      display: flex;
      align-items: center;
      padding: 8px;
    }
  }
}
