.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.configs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  max-width: 26rem;
  width: 100%;
  margin: 12px;

}

.indicator {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #3748AC;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #3748AC;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #3748AC;
}

.container-picker {
  max-width: 26rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.picker {
  margin-left: 12px;
}

.inner-container {
  max-width: 26rem;
  width: 100%;
  padding: 12px;

  .slider-container {
    display: flex;
    flex-wrap: wrap;

    .slider {
      width: 70%;
    }

    .input-slider {
      font-size: large;
      width: 15%;
      text-align: center;
      padding: 0;
      border: 0;
    }

    .input-unit {
      width: 5%;
      display: flex;
      align-items: center;
      padding: 8px;
    }
  }
}


