.chooser {
  display: inline-block;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
